# Dossiers temporaires pour les images (ne pas commiter)
temp-videos-art-images/
temp-films-images/
temp-mediations-images/


# Node modules
node_modules/
scripts/node_modules/

# Fichiers d'environnement
.env
.env.local
.env.example

# Dumps de base de données
*.dump

# Archives
*.tgz
*.tar.gz
