# Configuration OAuth GitHub pour Decap CMS
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
JWT_SECRET=your_jwt_secret_key
REDIRECT_URI=http://localhost:3001/auth/callback

# URL de la vidéo hero hébergée sur un serveur distant
NEXT_PUBLIC_HERO_VIDEO_URL=https://votre-serveur.com/videos/INTRO_VIDEO_FLORINE_CLAP.mp4

# Configuration SFTP pour l'upload de vidéos
# Le mot de passe doit toujours être saisi manuellement dans l'interface pour des raisons de sécurité
SFTP_HOST=votre-serveur-sftp.com
SFTP_USERNAME=votre-username
SFTP_PORT=22
SFTP_BASE_URL=http://votre-serveur.com
SFTP_FOLDER=/var/www/html/videos
SFTP_WEB_PATH=/videos